body{
    background-color: lightgreen;
	}

#wrapper{
    background-color: white;
    width: 1800px;
    margin:0px auto;
    padding:10px;
}

#header{
    height:200px;
    background-image:url(https://bloximages.newyork1.vip.townnews.com/northwestgeorgianews.com/content/tncms/assets/v3/editorial/d/19/d19cd084-406b-5c09-acef-afbb5af37a08/5d5b18ade53bd.image.jpg;
	}

#nav

{
      height:60px;
      margin:0px 0px;
      background-color: #33FF2C
       }
#nav ul li a:hover{
    background-color:rgb(109, 12, 12);
    text-decoration: underline;
}

#body

{
     width:1800px;
     border:0px solid grey;
     padding:10px;
     margin:0px auto;
}

#footer{
      clear:both;
      height:50px;
      background-color: clair
}

 .button:hover {
    background-color: red;
 }